.loginform {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loginform p {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginform p .loginbutton{
  margin-right: 5px;
}

.usernameclass, .passwordclass{
  color: red;
  background-color: pink;
}
