<div class="loginform">
  <fieldset>
    <legend>Login</legend>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>User Name</mat-label>
        <input matInput type="text" placeholder="Placeholder">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password" placeholder="Placeholder">
      </mat-form-field>
    </p>
    <p>
      <button class="loginbutton" mat-raised-button color="primary">Login</button>
      <button mat-raised-button color="warn">Cancel</button>
    </p>
  </fieldset>
</div>
